<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, totam commodi. Excepturi harum eaque dolore porro? Officia quam praesentium, atque maiores, in dicta nobis, illum reprehenderit provident quo enim magni?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ex accusantium officiis repellendus fugiat porro officia minus asperiores iusto repellat.</p>
    <a href="https://facebook.com" class="btn btn-primary">Facebook</a>
</div>